[
% {PROJECT-FOLDER} represents the proper path to the project's root
% The rabbitmq-env.config (found under /usr/local/etc/rabbitmq) should have the property CONFIG_FILE point to this file:
% CONFIG_FILE={PROJECT-FOLDER}/mule-transport-amqp/mule-transport-amqp/src/it/resources/ssl/rabbit/rabbitmq
  {ssl, [{versions, ['tlsv1.2', 'tlsv1.1']}
        ]},
  {rabbit, [
% Default AMQP and AMQPS IPv4 listeners
    {tcp_listeners, [{"127.0.0.1", 5672}]},
    {ssl_listeners, [{"127.0.0.1", 5671}]},
    {ssl_options, [{cacertfile, "{PROJECT-FOLDER}/mule-transport-amqp/mule-transport-amqp/src/it/resources/ssl/testca/cacert.pem"},
                    {certfile, "{PROJECT-FOLDER}/mule-transport-amqp/mule-transport-amqp/src/it/resources/ssl/server/cert.pem"},
                    {keyfile, "{PROJECT-FOLDER}/mule-transport-amqp/mule-transport-amqp/src/it/resources/ssl/server/key.pem"},
                    {versions, ['tlsv1.2', 'tlsv1.1']},
                    {verify,verify_peer},
                    {fail_if_no_peer_cert,false},
% Force a single cipher to ensure default connectivity. Configuration options can be found in http://erlang.org/doc/man/ssl.html
                    {ciphers,  [{rsa,aes_128_cbc,sha}]}
            ]}
        ]}
].